<!DOCTYPE HTML>
<html>
<head>
  <title>SIMPLE APP</title>
</head>
<body>
  <div>
    <h2>Edit Data</h2>
    <form method="post">
      <div>
        <label>ID</label>
        <input type="text" name="id" value="<%= data.id %>" disabled/><br>
        <label class='control-label'>NAME</label>
        <input type="text" name="name" value="<%= data.name %>" /><br>
        <label>MODEL NUMBER</label>
        <input type="text" name="modelnumber" value="<%= data.modelnumber %>" /><br>
        <label>SERIES</label>
        <input type="text" name="series" value="<%= data.series %>" /><br>
      </div><br>
      <input type="submit" />
    </form>
  </div>
</body>
</html>
