<!DOCTYPE html>
<html>
<head>
  <title>SIMPLE APP</title>
</head>
<body>
  <div class='container'>
    <h2>Index Page</h2>
    <table class='table-striped'>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>MODEL NUMBER</th>
        <th>SERIES</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% data.forEach(function (item, index) { %>
      <tr>
        <td></td>
        <td><%= item.name %></td>
        <td><%= item.modelnumber %></td>
        <td><%= item.series %></td>
        <td><a href='/show/<%= item.id %>'>SHOW</a></td>
        <td><a href='/edit/<%= item.id %>'>EDIT</a></td>
        <td><a href='/delete/<%= item.id %>'>DELETE</a></td>
      </tr>
      <% }); %>
    </table><br>
    <a href='/new' id='new'>INSERT DATA</a>
  </div><br>
</body>
</html>
