<!DOCTYPE HTML>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='../public/stylesheets/bootstrap.min.css' />
  <title>SIMPLE APP</title>
</head>
<body>
  <div class="container">
    <div class="blog-post">
      <h2>Show Data</h2><br>
      <div>
        <h4 class='col-md-4'>ID</h4>
        <p class='col-md-7'><%= data.id %></p>
        <h4 class='col-md-4'>NAME</h4>
        <p class='col-md-7'><%= data.name %></p>
        <h4 class='col-md-4'>MODEL NUMBER</h4>
        <p class='col-md-7'><%= data.modelnumber %></p>
        <h4 class='col-md-4'>SERIES</h4>
        <p class='col-md-7'><%= data.series %></p>
      </div>
    </div>
  </div>
</body>
</html>
