<!DOCTYPE HTML>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='./stylesheets/bootstrap.min.css' />
  <title>SIMPLE APP</title>
</head>
<body>
  <div class="container">
    <div class="blog-post">
      <h2>Show Data</h3>
      <div>
        <h3>ID</h3>
        <p><%= data.id %></p>
        <h3>NAME</h3>
        <p><%= data.name %></p>
        <h3>MODEL NUMBER</h3>
        <p><%= data.modelnumber %></p>
        <h3>SERIES</h3>
        <p><%= data.series %></p>
      </div>
    </div>
  </div>
</body>
</html>
