<!DOCTYPE HTML>
<html>
<head>
  <link type='text/css' rel='stylesheet' href='../public/stylesheets/bootstrap.min.css' />
  <title>SIMPLE APP</title>
</head>
<body>
  <div class="container">
    <h2>Show Data</h2><br>
    <div>
      <label class='control-label'>ID</label>
      <p><%= data.id %></p><br>
      <label class='control-label'>NAME</label>
      <p><%= data.name %></p><br>
      <label class='control-label'>MODEL NUMBER</label>
      <p><%= data.modelnumber %></p><br>
      <label class='control-label'>SERIES</label>
      <p><%= data.series %></p><br>
    </div>
  </div>
</body>
</html>
